flows.json
[{"id":"89de0ae5.fb05","type":"tab","label":"Adapter with HTTP and MQTT Observations ","disabled":false,"info":""},{"id":"ef1dd96a.d1a268","type":"mqtt-broker","z":"","name":"mqtt broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"13b98434.10c364","type":"debug","z":"89de0ae5.fb05","name":"node2","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":540,"y":60,"wires":[]},{"id":"3b4ac6bb.74ab42","type":"inject","z":"89de0ae5.fb05","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":420,"wires":[["7cb26d04.e30c64"]]},{"id":"7cb26d04.e30c64","type":"file in","z":"89de0ae5.fb05","name":"read data","filename":"/data/LSN50.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":420,"wires":[["ddaf7bba.4896a8"]]},{"id":"ddaf7bba.4896a8","type":"csv","z":"89de0ae5.fb05","name":"","sep":",","hdrin":false,"hdrout":true,"multi":"mult","ret":"\\n","temp":"DevEui,thing_URL,datastream_URL","skip":"0","strings":true,"x":470,"y":420,"wires":[["e1d0368e.a3e008"]]},{"id":"e1d0368e.a3e008","type":"function","z":"89de0ae5.fb05","name":"","func":"var payload=msg.payload;\nif (payload==null)\n{\n    msg.payload=\"file not found please add node-red/LSN50.csv file\";\n}else\n{\nflow.set(\"payload\", payload);\n}\n/*}\nfor (i=0;i<payload.length;i++)\n{\nDevEui=payload[i].DevEui;\nURL=payload[i].URL;\n}\n*/\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["dd4ef703.1a4a18"]]},{"id":"dd4ef703.1a4a18","type":"debug","z":"89de0ae5.fb05","name":"node5","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":740,"y":420,"wires":[]},{"id":"3452a397.24926c","type":"function","z":"89de0ae5.fb05","name":"POST Pkt","func":"p=msg.payload;\nvar entity_payload={\n        \"name\": \"Living Room\",\n        \"description\": \"My Living Room\",\n        \"properties\": {\n            \"style\": \"Cozy\",\n            \"balcony\": true\n        },\n        \"Locations\": [\n            {\n                \"name\": \"My Living Room\",\n                \"description\": \"The living room of Friedrich-Barnewitz. 4\",\n                \"encodingType\": \"application/vnd.geo+json\",\n                \"location\": {\n                \"type\": \"Point\",\n                \"coordinates\": [\n                    0.0,\n                    0.0\n                ]\n            }\n                          }\n        ]\n    };\n\nvar d  = new Date(); //return the time \n\nnode.log(typeof p);\n\nmsg.payload={\n   \"phenomenonTime\":d.toISOString(),\n    \n    \"result\":[\n       parseFloat(p.object.BatV.toString()),parseFloat(p.object.TempC.toString())]\n             };\nflow.set(\"sensordata\",msg.payload);\nnode.log(typeof p);\n//msg.topic=\"v1.0/Datastreams({p.devEUI})/Observations\";\nmsg.entity=entity_payload;\nmsg.devid=p.devEUI;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["13b98434.10c364","224d7d9.293dc82"]]},{"id":"e9c7b3b5.bfb198","type":"debug","z":"89de0ae5.fb05","name":"thing response","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":750,"y":60,"wires":[]},{"id":"e99c3ae5.bc7b9","type":"csv","z":"89de0ae5.fb05","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"DevEui,thing_URL,datastream_URL","skip":"0","strings":false,"x":1170,"y":180,"wires":[["e610b623.caac5"]]},{"id":"e610b623.caac5","type":"file","z":"89de0ae5.fb05","name":"c","filename":"/home/farooqahmad123/node-red/LSN50.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1290,"y":180,"wires":[["8087fba6.5ed288"]]},{"id":"8087fba6.5ed288","type":"debug","z":"89de0ae5.fb05","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1460,"y":60,"wires":[]},{"id":"8b5e4bba.526a2","type":"http request","z":"89de0ae5.fb05","name":"Thing/DS POST","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":120,"wires":[["ac4c26d6.730fb","e9c7b3b5.bfb198"]]},{"id":"5bf954ed.56ce94","type":"function","z":"89de0ae5.fb05","name":"Write to file","func":"var payload=msg.headers.location;\nvar thing_URL=flow.get(\"Thingurl\");\nvar Devid=flow.get(\"Node_EUI\");\ndatastream_URL=payload + \"/Observations\";\n flow.set(\"status\",null);\noutput_payload=([Devid,thing_URL,datastream_URL]);\nmsg.payload=output_payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1030,"y":180,"wires":[["e99c3ae5.bc7b9"]]},{"id":"ac4c26d6.730fb","type":"function","z":"89de0ae5.fb05","name":"DS Entity","func":"var payload=msg.headers;\nvar sensordata=flow.get(\"sensordata\");\nvar status=flow.get(\"status\");\nvar thing_URL=payload.location + \"/MultiDatastreams\";\n\nflow.set(\"Thingurl\",thing_URL);\n\nvar data={\n    \"name\": \"Wind Balcony\",\n    \"description\": \"The Wind on the balcony\",\n    \"observationType\": \"http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_ComplexObservation\",\n    \"multiObservationDataTypes\": [\n        \"http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement\",\n        \"http://www.opengis.net/def/observationType/OGC-OM/2.0/OM_Measurement\"\n    ],\n    \"unitOfMeasurements\": [\n        {\n            \"name\": \"v\",\n            \"symbol\": \"v\",\n            \"definition\": \"v\"\n        },\n        {\n            \"name\": \"deg\",\n            \"symbol\": \"deg\",\n            \"definition\": \"ucum:deg\"\n        }\n    ],\n    \"Sensor\": {\n        \"name\": \"battery\",\n        \"description\": \"battery\",\n        \"encodingType\": \"text\",\n        \"metadata\": \"A description of this sensor should go here.\"\n    },\n    \"ObservedProperties\": [\n        {\n            \"name\": \"battery\",\n            \"definition\": \"http://dbpedia.org/page/battery\",\n            \"description\": \"battery.\"\n        },\n        {\n            \"name\": \"Temprature\",\n            \"definition\": \"http://dbpedia.org/page/Temprature measurement\",\n            \"description\": \"Temprature measurement\"\n        },\n        \n    ],\n    \"Observations\": [\n        sensordata\n    ]\n};\nif (status==\"!exist\")\n{\n //create an data stream entity  \n    msg.url=thing_URL;\n    msg.payload=data;\n    return msg; \n}\nelse \n{\n    return null; \n}","outputs":1,"noerr":0,"x":700,"y":180,"wires":[["5b11c4ad.9eabac","b9136c7a.1ba6f8"]]},{"id":"b9136c7a.1ba6f8","type":"http request","z":"89de0ae5.fb05","name":"DS POST request","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":120,"wires":[["5bf954ed.56ce94","b0d9dfe7.d61078"]]},{"id":"b0d9dfe7.d61078","type":"debug","z":"89de0ae5.fb05","name":"Datastream response","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":1070,"y":60,"wires":[]},{"id":"5b11c4ad.9eabac","type":"debug","z":"89de0ae5.fb05","name":"node3","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":840,"y":220,"wires":[]},{"id":"7dffd364.f2d114","type":"http in","z":"89de0ae5.fb05","name":"POST Handler","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":100,"y":220,"wires":[["6cf3fa43.b30454"]]},{"id":"cc203c6b.da93c","type":"inject","z":"89de0ae5.fb05","name":"test inject node","topic":"","payload":"{\"applicationID\":\"24\",\"applicationName\":\"ff2b4caa-f43c-4db8-8c62-6f02d970593a\",\"deviceName\":\"e96fb8d58cab9500\",\"devEUI\":\"e96fb8d58cab9532\",\"profile_id\":\"12234\",\"rxInfo\":[{\"gatewayID\":\"c8e71a9121ed338d\",\"uplinkID\":\"c7c7967b-5172-4480-ac95-e041d62797c5\",\"name\":\"c8e71a9121ed338d\",\"rssi\":50,\"loRaSNR\":5.5,\"location\":{\"latitude\":0,\"longitude\":0,\"altitude\":0}},{\"gatewayID\":\"fae905f732e3d1a2\",\"uplinkID\":\"338eb4cc-1c04-4291-bc7a-61d4902614af\",\"name\":\"fae905f732e3d1a2\",\"rssi\":50,\"loRaSNR\":5.5,\"location\":{\"latitude\":0,\"longitude\":0,\"altitude\":0}}],\"txInfo\":{\"frequency\":868100000,\"dr\":5},\"adr\":false,\"fCnt\":1052,\"fPort\":10,\"data\":\"VUFZZml3PT0=\",\"object\":{\"BatV\":\"3.0\",\"TempC\":\"23.30\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"10","x":120,"y":120,"wires":[["6cf3fa43.b30454"]]},{"id":"224d7d9.293dc82","type":"function","z":"89de0ae5.fb05","name":"Filter","func":"var payload_msg=flow.get(\"payload\");\nvar Devid=msg.devid;\nvar data=msg.payload;\n\nvar status=flow.get(\"status\")|| null ;\nvar DevEui,msg1,msg2,msg3,thing_URL;\nvar entity_url=\"http://localhost:8080/FROST-Server/v1.0/Things\";\n\nif (payload_msg.length===0)\n{\n    status=\"!exist\";\n    flow.set(\"Node_EUI\",Devid);\n    flow.set(\"status\",status);\n    msg= { url:entity_url,payload:msg.entity,status:status};\n   \n    return [msg,null];\n\n}\nelse \n {\n    for (i=0;i<payload_msg.length;i++)\n    {\n        DevEui=payload_msg[i].DevEui;\n        thing_URL=payload_msg[i].thing_URL;\n        datastream_URL=payload_msg[i].datastream_URL;\n        if (Devid===DevEui)\n            {\n               status=\"exist\";\n               flow.set(\"status\",status);\n               flow.set(\"Node_EUI\",Devid);\n               break;\n            }\n        else \n            {\n                status=\"!exist\";\n            }\n        \n    }\n    if (status===\"!exist\")\n    {\n        flow.set(\"Node_EUI\",Devid);\n        flow.set(\"status\",status);\n        msg = { url:entity_url,payload:msg.entity,status:status};\n       \n        return [msg,null];\n\n    }\n    var pos = datastream_URL.replace(\"http://localhost:8080/FROST-Server/v1.0\",\"v1.0\");\n    //msg1 = { url:entity_url,payload:msg.entity};//for testing\n    msg = { topic:pos,payload:data,status:status};\n   \n    flow.set(\"DS_URL\",datastream_URL);\n    return [null,msg];\n \n}","outputs":2,"noerr":0,"x":430,"y":180,"wires":[["13b98434.10c364","8b5e4bba.526a2"],["13b98434.10c364","fb94bf37.39b0a","1642cf3f.7e2d29"]]},{"id":"fb94bf37.39b0a","type":"mqtt out","z":"89de0ae5.fb05","name":"","topic":"","qos":"","retain":"","broker":"ef1dd96a.d1a268","x":560,"y":260,"wires":[]},{"id":"1642cf3f.7e2d29","type":"debug","z":"89de0ae5.fb05","name":"mqtt input node","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":340,"wires":[]},{"id":"f74305eb.34e718","type":"inject","z":"89de0ae5.fb05","name":"trigger","topic":"control","payload":"trigger","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":60,"wires":[["6cf3fa43.b30454"]]},{"id":"685b92dc.7d2984","type":"debug","z":"89de0ae5.fb05","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":20,"wires":[]},{"id":"6cf3fa43.b30454","type":"q-gate","z":"89de0ae5.fb05","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"","dropCmd":"","statusCmd":"","maxQueueLength":"6","keepNewest":false,"qToggle":false,"persist":false,"x":270,"y":60,"wires":[["3452a397.24926c","685b92dc.7d2984"]]}]